*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(196, 161, 110);
    text-align: center;
}

.tittle{
    padding-top: 15px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.game{
 height: 60vmin;
 width: 60vmin;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 1.5vmin;
}

.box{
    background-color: rgb(222, 243, 243);
    height: 18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
}

#reset-btn{
    padding:5px;
    font-size: 1.5rem;
    background-color: rgb(131, 126, 126);
    border-radius: 0.5rem;
    border: none;
}

#msg{
    font-size: 8vmin;

}

#new-btn{
    padding:5px;
    font-size: 1.5rem;
    background-color: rgb(131, 126, 126);
    border-radius: 0.5rem;
    border: none;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display:none;
}

